*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffff81;
  transition: all 1s ease-in-out;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}
header,
.logo {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  width: 100%;
}
#title {
  transition: all 0.5s ease-in-out;
}
header {
  height: 10svh;
  z-index: 2;
}
.logo {
  position: static;
}
.tirai {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #363636;
  background-position: center;
  transition: all 0.5s ease-in-out;
  border-radius: 17.5px 0px 0px 17.5px;
  z-index: 100;
}
.slide {
  transform: translateX(100%);
  border-radius: 0px 17.5px 17.5px 0px;
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100svh;
}
.form-wrapper {
  display: flex;
  align-items: center;
  height: 70svh;
  padding: 20px 0px;
  width: 90%;
  position: relative;
  background-color: #8c8cf73a;
  box-shadow: 10px 10px 10px 1px #3636369a;
  border-radius: 20px;
  border: rgba(0, 0, 0, 0.623) 2.5px solid;
}
.login,
.sign-up {
  width: 50vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}
.login h3, .sign-up h3 {
  position: absolute;
  top: 20px;
  font-size: 35px;
}
.login input,
.sign-up input {
  /* border: none; */
  background: #7d7dfa63;
  height: 30px;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: black solid 1.5px;
}
#login,
#signUp {
  display: flex;
  flex-direction: column;
  width: auto;
  scale: 1.35;
  padding-top: 20px;
}
#btn {
  z-index: 99;
}
